 a{
	color: #000;
}
ul{
	list-style: none;
	padding: 0;
	padding-left:3% ;
	
}
.nav{
	background: #ffffff;
}
.nav_but{
	background: url(../images/nav_but.png) no-repeat center center;
	background-size:60%;
	width: 2.9rem;
	height: 2.9rem;
	box-shadow：none;
	border: 1px solid #CCCCCC;
	margin-top: 5%;

}

.banner{
	position: relative;
}
.banner ul{
	position: absolute;
	bottom:0;
	left:43%;
}
.banner ul li{
	float: left;
	margin-right: 5px;
	width: 12px;
	height: 12px;
	border:1px solid #ffffff;
	border-radius:50%;
	
}

#dq{
	background: #ffffff;
}

.banner_b ul li{
	float:left;
	width: 33%;
	margin:10% 0;
	text-align: center;
	
}
.banner_b ul li span{
	border-bottom: 1px solid #FFC001;
}
.orange{
	padding: 20px;
	color: #fff;
	background:#FFC001;
}
.row1{
	margin-top:84px ;
}
.orange_{
	width: 96px;
	height: 40px;
	padding-bottom: 20px;
	border-bottom: 2px solid #FFC001;
	
}

.row1 ul:nth-of-type(1) li{
	float: left;
	display: block;
	height: 40px;
	border-radius: 20px 20px 20px 20px;
	line-height: 40px;
	background: #EFEFEF;
	width: 20%;
	margin: 0 2.5%;
}
.padding_0{
	padding: 0;
}
.cpt li{
	float: left;
	margin: 15px 0;
}
.cpt a{
	display: block;
	width: 100%;
	border: 1px solid #ccc;
}
.cpt img{
	
	width: 90%;
	
}
 .fff_{
 	width: 96px;
	height: 40px;
	border-bottom: 2px solid #fff;
}
.cooperation{
	padding: 20px;
	color: #fff;
	background: url(../images/jianpan.png) no-repeat;
	background-size: cover;
}
.center{
	margin: 40px auto;
}
.p_gray{
	color: gray;
}
.footer{
	background: #151515;
	padding:10% 0;
	color: #666666;
}

